*{
  margin: 0;
  padding: 0;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji","Plus Jakarta Sans";
  box-sizing: border-box;
  /* overflow: hidden; */
}

:root{
  --body-color: #fff;
  --notification_bar_color: #f8f6f1;
  --text_color: #19147a;
  --btnbackground_color: #19147a;
  --secondtext_color: #8d8d8d;
  --secslidingbox_color: #f4f4f4;
}
.dark_theme{
  --body-color: #000;
  --notification_bar_color: #0a0a0a;
  --text_color: #fff;
  --btnbackground_color: #8d8d8d;
  --secondtext_color: #faf8f8;
  --secslidingbox_color: #0a0a0a;
}

body{
  background-color: var(--body-color) !important;
  transition: background 0.3s;
}


/* --------Header--------------- */

/* header{
  position: sticky;
} */
.notification_bar{
    background-color: var(--notification_bar_color);
    margin: 10px 10px 0;
    height: 46px;
    text-align: center;
    padding: 13px 0;
    font-size: 0.75rem;
    color: var(--text_color);
    font-weight: 700;
    position: sticky;
    top: 0;
    /* margin-bottom: 5px; */
}
.nav_bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  margin-left: 2%;
  margin-right: 2%;
  background-color: var(--body-color);
  height: 76px;
  /* width: 100%; */
}
.nav_left{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--text_color);
}
.nav_middle{
  color: var(--text_color);
}
.menuOption{
  display: flex;
  /* display: inline-block; */
  justify-content: space-evenly;
  gap: 15px;
}

/*-----------Sidebar---------------*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 1px 32px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: var(--text_color);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #8d8d8d;
}

.sidenav_ .closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  margin-bottom: 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 16px;}
}
/*---------------------*/
.menuList_icon{
  margin-right: 15px;
  cursor: pointer;
}
.demos,.collections{
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 30px;
  background-color: var(--body-color);
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: var(--text_color);
  font-size: 13px;
  font-weight: 500;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {color: #8d8d8d;}

.demos:hover .dropdown-content {display: block;}

.collections:hover .dropdown-content {display: block;}

.demos_label,.collections_label,.allProducts_label{
 position: relative;
 top: -5px;
 font-size: 0.75rem;
 font-weight: 700;
}
.allProducts_label{
  cursor: pointer;
}
.demos:hover,.collections:hover,.allProducts:hover{
  border-bottom: 1px solid #19147a;
}
.arrow_icon{
  font-size: 16px !important;
  margin-left: -5px;
}
.nav_right{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--text_color);
  gap: 15px;
}
#theme_icon_container{
  display: flex;
  height: 28px;
  width: 60px;
  border: 0.01px solid #f8f6f1;
  border-radius: 15px;
  position: relative;
  top: 4px;
  cursor: pointer;
}
.light_icon{
height: 26px;
width: 26px;
border-radius: 50%;
background-color: var(--body-color);
}
.light_icon:hover{
  transform: rotate(45deg);
}
.night_icon:hover{
  transform: rotate(45deg);
}
.search_container,.cart_container{
  display: flex;
  gap: 7px;
  cursor: pointer;
}
.search_container:hover{
  border-bottom: 1px solid #19147a;
}
.search_label,.myAccount_label,.cart_label{
  font-size: 0.75rem;
  font-weight: 700;
}
.search_label,.cart_label{
  position: relative;
  top: 3px;
}
/* ------search Extension---------- */

.search_area{
  height: 150px;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 120px;
  right: 20px;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5px;
}
.search_area a {
  text-decoration: none;
  font-weight: 600;
  color: white;
  display: block;
  transition: 0.3s;
}

.input_box_extended{ 
  padding-left: 10px;
  padding-top: 20px;
  
}
.search_area span{
  color: #FFFFFF;
}
.search_area input {
  margin-top: 25px;
  width: 84%;
  height: 40px;
  border-radius: 5px;
  padding: 0 15px;
  border: none;
}
.search_area .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 25px;
}

/* @media screen and (max-height: 450px) {
  .search_area {padding-top: 15px;}
  .sidesearch_area a {font-size: 16px;}
} */
/* ---------End of Search extension---------- */


.myAccount_label{
  cursor: pointer;
}
.myAccount_label:hover{
  border-bottom: 1px solid #19147a;
}
.cart_container:hover{
  border-bottom: 1px solid #19147a;
}

.sidenav_cart{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--body-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav_cart a{
  text-decoration: none;
  color: var(--text_color);
  font-size: 16px;
  transition: 0.3s;
}
.sidenav_cart h1{
  padding-left: 15px ;
  color: var(--text_color);
  margin-bottom: 30px;
}
.sidenav_cart p{
  font-size: 18px;
  color: #8d8d8d;
  padding-left: 15px;
}

.sidenav_cart a:hover {
  color: #8d8d8d;
}

.sidenav_cart .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav_cart {padding-top: 15px;}
  .sidenav_cart a {font-size: 18px;}
}
 
/* -----------------------Main-------------------------------- */

main{
  margin-left: 2%;
  margin-right: 2%;
}
.feature_item_container{
  display: flex;
  margin-bottom: 50px;  
  position: relative;
  z-index: -1;
 }

.feature_item{
  position: relative;
 
}
.feature_item1{
  
  margin-right: 2px;
}
.feature_item_content_top{
    position: absolute;
    top: 6%;
    left: 3%;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 0.0375rem;
    text-transform: uppercase;
}
.feature_item_content_bottom{
  position: absolute;
  top: 75%;
  left: 3%;
  
}
.feature_item_content_bottom h3{
    max-width: 550px;
    margin: 0;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.075rem;
    margin-bottom: 10px;
    
}
.feature_item_content_bottom_button{
    background-color: var(--btnbackground_color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1rem;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: capitalize;
    padding: 0.875rem 1.5rem 0.875rem 1.5rem;
    border-radius: 2px;
}
.feature_item_content_bottom_button a{
  text-decoration: none;
  color: #FFFFFF;
}
.feature_item_content_bottom_button a:hover{
  color: #FFFFFF;
}
.custom-icon{
  transition: transform 0.3s ease-in-out;
}
.custom-icon:hover{
  transform: rotate(45deg);
}

  /* -----------Shop By Category----------- */

.shopByCategory_heading{
  color: var(--text_color);
  font-size: 24px;
  height: 27px;
  margin-bottom: 30px;
  font-weight: 600;
}

.viewAllBtn{
  float: inline-end;
  position: relative;
  top: 1px;
  left: -2%;
  border: 1px solid #dadada;
  background-color: transparent;
  color: var(--text_color);
  font-size: 12px;
  height: 35px;
  width: 116px;
  /* box-sizing: content-box; */
  font-weight: 500;
}
.viewAllBtn:hover{
  background-color: var(--btnbackground_color);
  color: #FFFFFF;

}
.viewAllBtn:hover .north-east_arrow{
  transform: rotate(45deg);
}
/* .arrow_north-east{
  color: #19147a;
  font-size: 12px;
  font-weight: 500 !important;
} */
.shopByCategory_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 60px;
    /* vi */
  }
.shopByCategory_item{
  margin-right: 1.48%;
  margin-bottom: 35px;
  position: relative;
  }
.shopByCategory_image{
    height: 192px;
    width: 192px;
   /* margin-right: 5%; */
  }
  .shopByCategory_image:hover{
    transition: 0.3s;
    transform: scale(1.04);
  }
.shopByCategory_itemName{
    font-size: 1.25rem;
    letter-spacing: -0.075rem;
    position: absolute;
    left: 0rem;
    right: 1.25rem;
    z-index: 3;
    text-align: center;
    color: var(--text_color);
  }
  /* ---------banner1----------- */

  /* .banner_image1{
   
  } */
  .banner_container{
    margin-bottom: 80px;
  }
  /* -------------Best Seller------ */

  .bestSeller_heading{
    color: var(--text_color);
    font-size: 24px;
    height: 27px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  .bestSeller_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 60px;
  }
  .bestSeller_item{
    position: relative;
    margin-bottom: 120px;
    width: 24%;
  }
  .bestSeller_item_image{
    height: 348px;
    width: 100%;
    border-radius: 5px;
    margin-right: 20px;
  }
  .bestSeller_item_details{
    position: absolute;
    top: 354px;
    left: 0;
  }
  .bestSeller_item_name{
    font-weight: 600;
    color: var(--text_color);
    margin-top: 1rem;
    padding: 0;
    font-size: 18px;
  }
  .bestSeller_item_description{
    font-weight: 600;
    font-size: 0.75rem;
    letter-spacing: normal;
    line-height: 1.45;
    margin-top: 0.05rem;
    color: #8d8d8d;
    margin-bottom: 15px;
  }
  .bestSeller_item_price{
     display: flex;
  }
  .bestSeller_item_currentprice{
     color: var(--text_color);
     font-size: 12px;
     font-weight: 700;
     margin-right: 10px;

  }
  .bestSeller_item_originalprice{
     color: #DC3F52;
     font-size: 12px;
     font-weight: 700;
     text-decoration: line-through;
  }
  .item_1{
    background-image: url(Images/demoProducts/demo-product-00204-712x810.jpg);
    background-size: cover;
    background-position: center;
  }
  .item_2{
    background-image: url(Images/demoProducts/demo-product-00101-712x810.jpg);
    background-size: cover;
    background-position: center;
  }
  .item_3{
    background-image: url(Images/demoProducts/demo-product-00304-712x810.jpg);
    background-size: cover;
    background-position: center;
  }
  .item_4{
    background-image: url(Images/demoProducts/demo-product-00404-712x810.jpg);
    background-size: cover;
    background-position: center;
  }
  .item_5{
    background-image: url(Images/demoProducts/demo-product-00601-712x810.jpg);
    background-size: cover;
    background-position: center;
  }
  .item_6{
    background-image: url(Images/demoProducts/demo-product-00203-1200x1365.jpg);
    background-size: cover;
    background-position: center;
  }
  .item_7{
    background-image: url(Images/demoProducts/demo-product-00301-712x810.jpg);
    background-size: cover;
    background-position: center;
  }
  .item_8{
    background-image: url(Images/demoProducts/demo-product-00402-1200x1365.jpg);
    background-size: cover;
    background-position: center;
  }

  .item_1:hover{
    transition: 0.3s ease-in-out;
    background-image: url(Images/demoProductsHover/demo-product-00204_2-712x810.jpg);
    background-size: cover;
    background-position: center;
  }
  .item_2:hover{
    transition: 0.3s ease-in-out;
    background-image: url(Images/demoProductsHover/demo-product-00101_2-712x810.jpg);
    background-size: cover;
    background-position: center;
  }
  .item_3:hover{
    transition: 0.3s ease-in-out;
    background-image: url(Images/demoProductsHover/demo-product-00304_2-712x810.jpg);
    background-size: cover;
    background-position: center;
  }
  .item_4:hover{
    transition: 0.3s ease-in-out;
    background-image: url(Images/demoProductsHover/demo-product-00404_2-712x810.jpg);
    background-size: cover;
    background-position: center;
  }
  .item_5:hover{
    transition: 0.3s ease-in-out;
    background-image: url(Images/demoProductsHover/demo-product-00601_2-712x810.jpg);
    background-size: cover;
    background-position: center;
  }
  .item_6:hover{
    transition: 0.3s ease-in-out;
    background-image: url(Images/demoProductsHover/demo-product-00203_2-712x810.jpg);
    background-size: cover;
    background-position: center;
  }
  .item_7:hover{
    transition: 0.3s ease-in-out;
    background-image: url(Images/demoProductsHover/demo-product-00301_2-712x810.jpg);
    background-size: cover;
    background-position: center;
  }
  .item_8:hover{
    transition: 0.3s ease-in-out;
    background-image: url(Images/demoProductsHover/demo-product-00402_2-712x810.jpg);
    background-size: cover;
    background-position: center;
  }

.banner_container2{
  width: 100%;
  position: relative;
  margin-bottom: 80px;
}
.banner_image2{
  width: 100%;
  height: auto;
}
.banner_content_bottom{
  position: absolute;
  top: 53%;
  left: 9%;
  max-width: 24%;
}
.banner_content_bottom h3{
    /* max-width: 550px; */
    margin: 0;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.075rem;
    margin-bottom: 10px;
    font-size: 24px;
}
.banner_content_bottom_button{
    background-color: var(--btnbackground_color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1rem;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: capitalize;
    padding: 0.875rem 1.5rem 0.875rem 1.5rem;
    border-radius: 2px;
}
.banner_content_bottom_button a{
  text-decoration: none;
  color: #FFFFFF;
}
.countdown_container{
  position: absolute;
  top: 51%;
  left: 50%;
  display: flex;
  height: 30%;
  width: 50%;
}
.box{
  height: 85%;
  width: 19%;
  background-color: transparent;
  background-image: linear-gradient(transparent,rgba(0,0,0,0.5));
  margin-right: 3px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: #FFFFFF;
}
.box_time{
  margin-left: -12px;
  margin-top: 2px;
}
.countdown_text{
  display: block;
  margin-top: 65px;
  margin-left: -44px;
  font-size: 12px;
  color: #fff;
  
}

.banner_container3{
  display: flex;
  margin-bottom: 80px;
}
.banner_container3_item1,.banner_container3_item2{
  width: 49%;
}
.banner_container3_item1{
  margin-right: 2%;
}
.banner_container3_img1,.banner_container3_img2{
  width: 100%;
  height: auto;
  border-radius: 5px;
}

 /* ------------Brands--------------- */

 .brands_heading{
  font-size: 0.625rem;
  font-weight: 800;
  letter-spacing: 0.0375rem;
  color: var(--text_color);
  margin-bottom: 15px;
}
.brands_name_container{
  display: flex;
  width: 100%;
  margin-bottom: 80px;
}
.brands{
  width: 16.65%;
  margin-right: 2px;
}
.brands_name_img{
  width: 100%;
  background-color: #000 ;
  color: #fff;
}

/* -------Featured Products------------ */

.slider-container{
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
  margin-bottom: 70px;
}

.slider-heading{
  color: var(--text_color);
  font-size: 24px;
  font-weight:  600;
  height: 27px;
  margin-bottom: 25px;
}
.firstSlidingBox,.secondSlidingBox{
  width: 50%;
  transition: transform 0.5s ease-in-out;
}
#sliding-img1half{
 width: 100%;
 height: auto;
}
.secondSlidingBox{
  background-color: var(--secslidingbox_color);
  position: relative;
}
#sliding-img2half{
  position: absolute;
  height: 50%;
  width: 45%;
  top: 8%;
  left: 27%;
  border-radius: 10px;
}
#sliding-img2half:hover{
 transform: scale(1.1);
}

.imageChangeButton{
  /* position: absolute; */
  top: 48%;
  left: 11%;
}
.prev-btn,.next-btn{
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #a09e9e;
  border: none;
  font-size: 30px;
  color: #fff;
}
.prev-btn{
  top: 48%;
  left: 11%;
}
.next-btn{
  top: 48%;
  left: 81%;
}
.fa-arrow-right,.fa-arrow-left{
  color: #FFFFFF;
}

#sliding_imageDetail{
  position: absolute;
  height: 25%;
  width: 60%;
  bottom: 16%;
  left: 26%;
}
.sellItem-name{
    font-weight: 600;
    color: var(--text_color);
    margin-top: 1rem;
    padding: 0;
    /* font-size: 18px; */
}
.sellItem-detail{
    font-weight: 600;
    font-size: 0.75rem;
    letter-spacing: normal;
    line-height: 1.45;
    margin-top: 0.05rem;
    color: #8d8d8d;
    margin-bottom: 15px;
}
.sellItem-price{
  display: flex;
}
.current-price{
     color: var(--text_color);
     font-size: 12px;
     font-weight: 700;
     margin-right: 10px;
}



/* -----------Latest Arrival------------ */

.latestArrival_heading{
  color: var(--text_color);
  font-size: 24px;
  height: 27px;
  font-weight: 600;
  margin-bottom: 25px;
}
.latestArrival_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 60px;
}
.latestArrival_item{
  position: relative;
  margin-bottom: 120px;
  width: 24%;
  margin-right: 10px;
}
.latestArrival_item_image{
  height: 348px;
  width: 100%;
  border-radius: 5px;
  margin-right: 20px;
}
.latestArrival_item_details{
  position: absolute;
  top: 354px;
  left: 0;
}
.latestArrival_item_name{
  font-weight: 600;
  color: var(--text_color);
  margin-top: 1rem;
  padding: 0;
  font-size: 18px;
}
.latestArrival_item_description{
  font-weight: 600;
  font-size: 0.75rem;
  letter-spacing: normal;
  line-height: 1.45;
  margin-top: 0.05rem;
  color: #8d8d8d;
  margin-bottom: 15px;
}
.latestArrival_item_price{
   display: flex;
}
.latestArrival_item_currentprice{
   color: var(--text_color);
   font-size: 12px;
   font-weight: 700;
   margin-right: 10px;

}
.latestArrival_item_originalprice{
   color: #DC3F52;
   font-size: 12px;
   font-weight: 700;
   text-decoration: line-through;
}
.item_a{
  background-image: url(Images/latestProduct/demo-product-00104-712x810.jpg);
  background-size: cover;
  background-position: center;
}
.item_b{
  background-image: url(Images/latestProduct/demo-product-00202-712x810.jpg);
  background-size: cover;
  background-position: center;
}
.item_c{
  background-image: url(Images/latestProduct/demo-product-00401-712x810.jpg);
  background-size: cover;
  background-position: center;
}
.item_d{
  background-image: url(Images/latestProduct/demo-product-00501-712x810.jpg);
  background-size: cover;
  background-position: center;
}

.item_a:hover{
  transition: 0.3s ease-in-out;
  background-image: url(Images/latestProductHover/demo-product-00104_2-712x810.jpg);
  background-size: cover;
  background-position: center;
}
.item_b:hover{
  transition: 0.3s ease-in-out;
  background-image: url(Images/latestProductHover/demo-product-00202_2-712x810.jpg);
  background-size: cover;
  background-position: center;
}
.item_c:hover{
  transition: 0.3s ease-in-out;
  background-image: url(Images/latestProductHover/demo-product-00401_2-712x810.jpg);
  background-size: cover;
  background-position: center;
}
.item_d:hover{
  transition: 0.3s ease-in-out;
  background-image: url(Images/latestProductHover/demo-product-00501_2-712x810.jpg);
  background-size: cover;
  background-position: center;
}

.banner_container4{
  margin-bottom: 80px;
}

/* ---------------Demo Post---------- */

.demopost_heading{
  color: var(--text_color);
  font-size: 24px;
  height: 27px;
  font-weight: 600;
  margin-bottom: 25px;
}
.demopost_container{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 60px;
}
.demopost_item{
  position: relative;
  width: 24%;
 
 /* height: 346px; */
}
.demopost_item_img{
  width: 100%;
  height: 340px !important;
}
.demoPost_btn{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 11px;
  border-radius: 5px;
  border: none;
  color: var(--text_color);
  font-weight: 700;
  padding: 1px 5px;
  background-color: var(--body-color);
}
.demoPost_btn:hover{
  background-color: var(--text_color);
  color: var(--body-color);
}
.demopost_item:hover{
  transform: scale(1.01);
}
.demopost_info{
  margin-top: 1rem;
}
.demopost_msg{
  color: var(--text_color);
  font-size: 18px;
  height: 41px;
  font-weight: 500;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: -0.075rem;
  margin-bottom: 15px;
  width: 70%;
}
.demopost_date pre{
  font-size: 0.75rem;
  font-weight: 700;
  color: #8d8d8d;
}
.demopost_date pre span{
  color: var(--text_color);
}
hr.endLineOfMain_section{
  border: 2px solid blue;
}


/* ------------Footer------------- */
.footer_container{
  display: flex;
  flex-direction: column;
}
.footer_top_bar_inner{
    display: flex;
    margin-left: 10%;
    margin-right: 8%;
    margin-bottom: 4%;
 }
.footer_top_bar{
  margin-top: 50px;
}
.footer_top_bar_left{
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin-right: 15%;
}
.footer_heading{
  font-size: 16px;
  font-weight: 700;
  color: var(--text_color);
  text-decoration: none;
  margin-bottom: 15px;
}
.footer_link_container{
  display: flex;
  flex-direction: column;
}
.footer_link{
 text-decoration: none;
 font-size: 16px;
 color: var(--text_color);
 font-size: 16px;
 font-weight: 500;
 margin-bottom: 8px;
}
.footer_link:hover,.footer_heading:hover{
  text-decoration: underline;
  color: #19147a;
}
.footer_top_bar_right{
  color: var(--secondtext_color);
  max-width: 30%;
}
.footer_top_bar_right .footer_heading:hover{
  text-decoration: none;
}
.footer_msg_container a{
  text-decoration: none;
  color: #19147a;
  font-weight: 500;
}
.footer_msg_container a:hover{
  text-decoration: underline;
  color: #19147a;
  font-weight: 500;
}
.footer_bottom_bar_inner{
  display: flex;
  margin-left: 10%;
  margin-right: 8%;
  margin-top: 4%;
  margin-bottom: 6%;
}
.footer_bottom_bar_left{
  color: var(--secondtext_color);
  margin-right: 5%;
}
.footer_bottom_bar_left span{
  color: var(--text_color);
  font-weight: 500;
  text-decoration: underline;
}
.footer_bottom_bar_center{
  margin-right: 18%;
}
.footer_bottom_bar_center p{
  color: var(--text_color);
  margin-bottom: 0;
  font-size: 17px;
  font-weight: 500;
}
.footer_bottom_bar_center div{
  margin-top: 15px;
}
.footer_bottom_bar_right h3{
  font-size: 18px;
  color: var(--text_color);
  font-weight: 500;
}
.footer_bottom_bar_right input{
  width: 55%;
  padding: 10px 15px 15px 15px;
  height: 40px;
}
.footer_bottom_bar_right button{
  height: 40px;
  width: 120px;
  background-color: var(--btnbackground_color);
  color: #FFFFFF;
  font-size: 12px;
  border: none;
  border-radius: 2px;
}
.footer_bottom_bar_right p{
  margin-top: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #8d8d8d;
  max-width: 85%;
}
.footer_bottom_bar_right p span{
  color: var(--text_color);
  font-weight: 500;
  text-decoration: underline;
}


/* -------------Media Queries------------- */
@media screen and (max-width: 575px) {
  .menuOption{
    display: none;
  }
  .theme_icon_container{
    display: none;
  }
  .search_container .search_label{
    display: none;
  }
  .myAccount_label{
    display: none;
  }
  .cart_container .cart_label{
    display: none;
  }
  .feature_item_container{
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .feature_item1{
    margin-bottom: 10px;
    width: 100% !important;
  }
  .feature_item2{
    width: 100% !important;
    object-fit: cover;
  }
  .img_2{
    height: 75vh !important;
  }
  .feature_item_img{
    width: 100%;
  }
  .feature_item_content_bottom{
    position: absolute;
    top: 70%;
    left: 3%;
  }
  .shopByCategory_items{
    margin-left: 25px;
    /* margin-top: -10px; */
    display: grid;
    grid-template-columns: 49% 49%;
    margin-bottom: 38px;
 }
  .shopByCategory_item{
    margin-bottom: 35px;
    margin-right: 35px;
  }
  .shopByCategory_image{
    width: 160%;
  }
  .feature_item_content_bottom_label{
    font-size: 20px;
  }
  .feature_item_content_bottom_button{
    padding: 0.375rem 0.8rem 0.375rem 0.8rem;
  }
  .bestSeller_item{
    width: 46%;
    margin-right: 15px;
  }
  .banner_container2{
    margin-bottom: 40px;
  }
  .banner_content_bottom{
    position: absolute;
    top: 15%;
    left: 9%;
    max-width: 80%;
  }
  .banner_content_bottom h3{
    font-size: 18px;
  }
  .banner_content_bottom_button{
    position: absolute;
    top: 40px;
    left: 38%;
    height: 0.5rem;
    /* width: 20%; */
  }
  .countdown_container{
    position: absolute;
    top: 63%;
    left: 22%;
    display: flex;
    height: 40%;
    width: 70%;
  }
  .box{
    font-size: 1.3rem;
  }
  .box_time{
    margin-top: 0px;
    margin-left: 8px;
  }
  .countdown_text{
    margin-top: 28px;
    margin-left: -30px;
    font-size: 10px;
  }
  .banner_container3{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
  }
  .banner_container3_item1,.banner_container3_item2{
    width: 100%;
    margin-bottom: 40px;
  }
  .banner_container3_item1{
    margin-right: 0%;
  }
  .brands_name_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .brands{
    width: 32.6%;
    margin-right: 2px;
    margin-bottom: 2px;
  }
  .featured_products_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    position: relative;
    transition: transform 0.5s ease-in-out;
   }
   .featured_products_item1,.featured_products_item2{
     width: 100%;
     height: 60vh;
   }
   .latestArrival_item{
    position: relative;
    margin-bottom: 120px;
    width: 47%;
  }
  .latestArrival_item_image{
    height: 348px;
    width: 100%;
    border-radius: 5px;
    margin-right: 20px;
  }
  .demopost_container{
    flex-wrap: wrap;
    margin-top: 56px;
  }
  .demopost_item{
    width: 48%;
    height: auto;
  }
  .demopost_msg{
    font-size: 16px;
  }
  .footer_top_bar_inner{
    display: block;
  }
  .footer_top_bar_left{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50%;
    row-gap: 25px;
    justify-content: space-between;
  }
  .footer_top_bar_right{
    margin-top: 25px;
    max-width: 100%;
  }
  .footer_bottom_bar_inner{
    display: flex;
    flex-wrap: wrap;
  }
  .footer_bottom_bar_left{
    width: 100%;
    margin-bottom: 30px;
    order: 3;
  }
  .footer_bottom_bar_center{
    width: 100%;
    margin-bottom: 30px;
    order: 2;
  }
  .footer_bottom_bar_right{
   width: 100%;
   margin-bottom: 30px;
   order: 1;
  }

}

@media screen and (min-width: 576px) and (max-width: 766px){

  .menuOption{
    display: none;
  }
  .theme_icon_container{
    display: none;
  }
  .myAccount_label{
    display: none;
  }
  .cart_container .cart_label{
    display: none;
  }
  .feature_item_content_bottom{
    position: absolute;
    top: 65% !important;
    left: 3%;
  }
  .feature_item_content_bottom_label{
    font-size: 15px !important;
  }
  .bestSeller_item{
    width: 47%;
    margin-right: 15px;
  }
  .banner_container2{
    margin-bottom: 40px;
  }
  .banner_content_bottom{
    position: absolute;
    top: 15%;
    left: 9%;
    max-width: 80%;
  }
  .banner_content_bottom h3{
    font-size: 20px;
  }
  .banner_content_bottom_button{
    position: absolute;
    top: 40px;
    left: 38%;
    line-height: 0.4rem;
  }
  .countdown_container{
    position: absolute;
    top: 60%;
    left: 22%;
    display: flex;
    height: 40%;
    width: 70%;
  }
  .box{
    font-size: 2rem;
  }
  .box_time{
    margin-top: 2px;
    margin-left: 13px;
  }
  .countdown_text{
    margin-top: 40px;
    margin-left: -33px;
  }
  .banner_container3{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
  }
  .banner_container3_item1,.banner_container3_item2{
    width: 100%;
    margin-bottom: 40px;
  }
  .banner_container3_item1{
    margin-right: 0%;
  }
  .brands_name_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .brands{
    width: 32.6%;
    margin-right: 2px;
    margin-bottom: 2px;
  }
  .slider-container{
    flex-wrap: wrap !important;
  }
  .firstSlidingBox,.secondSlidingBox{
    width: 100%;
    height: auto;
  }
  /* #sliding-img1half{
    width: 100%;
    height: auto;
   } */
   .secondSlidingBox{
    background-color: #f4f4f4;
    position: relative;
  }
  #sliding-img2half{
    position: absolute;
    height: 40%;
    width: 40%;
    top: 10%;
    left: 28%;
  }
   .latestArrival_item{
    position: relative;
    margin-bottom: 120px;
    width: 48%;
  }
  .demopost_container{
    flex-wrap: wrap;
  }
  .demopost_item{
    width: 48%;
  }
  .footer_top_bar_inner{
    display: block;
  }
  .footer_top_bar_left{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 75%;
    row-gap: 25px;
    justify-content: space-between;
  }
  .footer_top_bar_right{
    margin-top: 25px;
    max-width: 100%;
  }
  .footer_bottom_bar_inner{
    display: flex;
    flex-wrap: wrap;
  }
  .footer_bottom_bar_left{
    width: 100%;
    margin-bottom: 30px;
    order: 3;
  }
  .footer_bottom_bar_center{
    width: 100%;
    margin-bottom: 30px;
    order: 2;
  }
  .footer_bottom_bar_right{
   width: 100%;
   margin-bottom: 30px;
   order: 1;
  }

  }
  

@media screen and (min-width: 767px) and (max-width: 991px){

  .menuOption{
    display: none;
  }
  .theme_icon_container{
    display: none;
  }
  .myAccount_label{
    display: none;
  }
  .cart_container .cart_label{
    display: none;
  }
  .feature_item_content_bottom{
    position: absolute;
    top: 72%;
    left: 3%;
  }
  .feature_item_content_bottom_label{
    font-size: 22px;
  }
  .feature_item_content_bottom_button{
    padding: 0.575rem 0.8rem 0.575rem 0.8rem;
  }
  .bestSeller_item{
    width: 47%;
    margin-right: 15px;
  }
  .banner_container2{
    margin-bottom: 40px;
  }
  .banner_content_bottom{
    position: absolute;
    top: 15%;
    left: 9%;
    max-width: 80%;
  }
  .countdown_container{
    position: absolute;
    top: 58%;
    left: 22%;
    display: flex;
    height: 40%;
    width: 70%;
  }
  .banner_content_bottom_button{
    position: absolute;
    left: 42%;
  }
  .banner_container3{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
  }
  .banner_container3_item1,.banner_container3_item2{
    width: 100%;
    margin-bottom: 40px;
  }
  .banner_container3_item1{
    margin-right: 0%;
  }
  .brands_name_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .brands{
    width: 33%;
    margin-right: 2px;
    margin-bottom: 2px;
  }
  .latestArrival_item{
    position: relative;
    margin-bottom: 120px;
    width: 48%;
  }
  .demopost_container{
    flex-wrap: wrap;
  }
  .demopost_item{
    width: 48%;
  }
  .footer_top_bar_inner{
    display: block;
  }
  .footer_top_bar_left{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 75%;
    row-gap: 25px;
    justify-content: space-between;
  }
  .footer_top_bar_right{
    margin-top: 25px;
    max-width: 100%;
  }
  .footer_bottom_bar_inner{
    display: flex;
    flex-wrap: wrap;
  }
  .footer_bottom_bar_left{
    width: 26%;
    order: 2;
  }
  .footer_bottom_bar_center{
    width: 50%;
    order: 2;
  }
  .footer_bottom_bar_right{
   width: 100%;
   order: 1;
  }


  }
  



@media screen and (min-width: 992px) and (max-width: 1199px){
  .myAccount_label{
    display: none;
  }
  .cart_container .cart_label{
    display: none;
  }
}
